@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

  body {
    background-color: hsl(30, 38%, 92%);
  }  

  .conteudo-principal {
    display: flex;
    margin: 6%;
    margin-left: 25%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
    width: 900px;
    height: 700px;
  }

  .conteudo-escrito {
    margin: 40px;
    text-align: left;
  }

  .conteudo-principal-imagem {
    width: 500px;
    height: 700px;
    border-bottom-left-radius: 3%;
    border-top-left-radius: 3%;
  }

  .perfume {
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
  }

  .nome {
    font-family: 'fraunces';
    font-size: 60px;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
  }

  .descricao {
    font-family: 'montserrat';
    font-size: 22px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
  }

  .price-1 {
    font-family: 'montserrat';
    font-size: 50px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
  }

  .price-2 {
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
  }

  .button {
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    width: 350px;
    height: 70px;
    border-radius: 14px;
    cursor:pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .button:hover {
    background-color: hsl(158, 38%, 16%);
}
